<div class="center jumbotron">
    <%= form_with url: 'home/search', local: true, method: :get do |form| %>
    <%= select_tag :prefecture_id, options_from_collection_for_select(@prefectures, :prefectureId, :prefectureName, params[:prefecture_id]) %> 
    <%= select_tag :ward_id, options_from_collection_for_select(@cities, :wardId, :cityName, params[:ward_id]) %>
    <%= hidden_field_tag :city_id, options_from_collection_for_select(@cities, :cityId, :cityName) %>
    <%= form.submit "検索"  %>
    <% end %>
</div>