<div class="container">
    <h3>今日の天気</h3>
    <table class="table">
     <tr  valign=middle align=center>
            <td width=1% bgcolor="#eeeeee">時刻</td>
            <td width=11%>0時</td>
            <td width=11%>3時</td>
            <td width=11%>6時</td>
            <td width=11%>9時</td>
            <td width=11%>12時</td>
            <td width=11%>15時</td>
            <td width=11%>18時</td>
            <td width=11%>21時</td>
            <td width=11%>24時</td>
     </tr>
     <tr  align=center bgcolor="#ffffff">
            <td  bgcolor="#eeeeee">天気</td>
            <% @todayArray.each_with_index do |text, i| %>
                <td>
                    <% if text["tenkiId" + i.to_s] == 1%>
                        <%= image_tag("hare.png") %><br><small>晴</small>
                    <% elsif text["tenkiId" + i.to_s] == 2%>
                        <%= image_tag("kumori.png") %><br><small>曇</small>
                    <% elsif text["tenkiId" + i.to_s] < 0%>
                        <small>-</small>
                    <% else %>
                        <%= image_tag("ame.png") %><br><small>雨</small>
                    <% end %>
                </td>
            <% end %>
     </tr>
     <tr valign=middle align=center bgcolor="#ffffff">
            <td bgcolor="#eeeeee">気温（℃）</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
     </tr>
    </table>

    <h3>明日の天気</h3>
    <table class="table" >
     <tr valign=middle align=center>
            <td width=1% bgcolor="#eeeeee">時刻</td>
            <td width=11%>0時</td>
            <td width=11%>3時</td>
            <td width=11%>6時</td>
            <td width=11%>9時</td>
            <td width=11%>12時</td>
            <td width=11%>15時</td>
            <td width=11%>18時</td>
            <td width=11%>21時</td>
            <td width=11%>24時</td>
     </tr>
     <tr align=center bgcolor="#ffffff">
            <td  bgcolor="#eeeeee">天気</td>
            <% @tomorrowArray.each_with_index do |text, i| %>
                <td>
                    <% if text["tenkiId" + i.to_s] == 1%>
                        <%= image_tag("hare.png") %><br><small>晴</small>
                    <% elsif text["tenkiId" + i.to_s] == 2%>
                        <%= image_tag("kumori.png") %><br><small>曇</small>
                    <% elsif text["tenkiId" + i.to_s] < 0%>
                        <small>-</small>
                    <% else %>
                        <%= image_tag("ame.png") %><br><small>雨</small>
                    <% end %>
                </td>
            <% end %>
     </tr>
     <tr valign=middle align=center bgcolor="#ffffff">
            <td bgcolor="#eeeeee">気温（℃）</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
     </tr>
    </table>
</div>